html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: initial;
}

body {
  --c: rgba(255, 255, 255, 0.7);
  --t: transparent;
  background-image: repeating-linear-gradient(
      45deg,
      var(--c) 0,
      var(--c) 20px,
      var(--t) 20px,
      var(--t) 32px,
      var(--c) 32px,
      var(--c) 44px,
      var(--t) 44px,
      var(--t) 56px,
      var(--c) 56px,
      var(--c) 68px,
      var(--t) 68px,
      var(--t) 80px,
      var(--c) 0
    ),
    repeating-linear-gradient(
      -45deg,
      var(--c) 0,
      var(--c) 20px,
      var(--t) 20px,
      var(--t) 32px,
      var(--c) 32px,
      var(--c) 44px,
      var(--t) 44px,
      var(--t) 56px,
      var(--c) 56px,
      var(--c) 68px,
      var(--t) 68px,
      var(--t) 80px,
      var(--c) 0
    ),
    linear-gradient(to bottom right, #fc354c, #0abfbc);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: min(5vw, 5vh);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 90vw;
  width: 70ch;
  background-color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container h1 {
  text-align: center;
  font-family: "Amatic SC";
  font-size: 4rem;
  color: #df4862;
  margin: 0;
  margin: auto;
}

.container h2 {
  font-family: Itim;
  color: #333;
}

.container > p {
  font-family: Itim;
  font-size: 20px;
  color: #79454e;
  margin: 0;
}

form.success .ui.submit.button,
form:not(.success) .succ,
form.success .hiddenSuccessField {
  display: none !important;
}

@media screen and (min-width: 600px) {
  .linkSuffixLabel::before {
    content: "${origin}";
  }
}
