.container {
  max-width: 90vw;
  width: 70ch;
  background-color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container h1 {
  text-align: center;
  font-family: "Amatic SC";
  font-size: 4rem;
  color: #df4862;
  margin: 0;
  margin: auto;
}

.container h2 {
  font-family: Itim;
  color: #333;
}

.container > p {
  font-family: Itim;
  font-size: 20px;
  color: #79454e;
  margin: 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}
